@model CreownTutor.Data.Model.CourseNewViewModel
    @{
        ViewBag.Title = "EditCourse";
        Layout = "~/Views/Shared/_MainLayout.cshtml";
    }
    <h2>EditCourse</h2>
    <section class="">
        <div class="container">
            <div class="section-content">
                <div class="row">
                    @*<div class="col-sx-12 col-sm-4 col-md-4">
                        </div>*@
                    @*<div class="col-sx-12 col-sm-4 col-md-4">*@
                    <div class="icon-box mb-0 p-0">
                        <a href="#" class="icon icon-bordered icon-rounded icon-sm pull-left mb-0 mr-10">
                            <i class="fa fa-book"></i>
                        </a>
                        <h4 class="text-gray pt-10 mt-0 mb-30">Edit Course</h4>
                        <hr />
                        <div class="row">
                            <div class="col-md-12 col-md-push-0">
                                <div class="row">
                                    <div class="col-sm-12">
                                        @using (Html.BeginForm("EditCourse", "Course", FormMethod.Post, new { @class = "clearfix" }))
                                        {
                                            <div class="form-group">
                                                <label>Course Title<small>*</small></label>
                                                @Html.TextBoxFor(m => m.CourseName, new { @class = "form-control", @placeholder = "Enter Course Title" })
                                                @Html.ValidationMessageFor(m => m.CourseName, "Please enter Course Title")
                                            </div>
                                    <div class="form-group">
                                        <label>Course Description <small>*</small></label>
                                        @Html.TextAreaFor(m => m.Description, new { @rows = "5", @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.Description, "Please enter Course Description")
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label>Category <small>*</small></label>
                                                @*@Html.DropDownListFor(m => m.Category, Model.Categories, "Please select", new { @class = "form-control" })*@

                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label>Course Date And Time <small>*</small></label>
                                                <div class='input-group date' id='datetimepicker1'>
                                                    @Html.TextBoxFor(m => m.Date, new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(m => m.Date, "Please select Course Date and Time")
                                                    <span class="input-group-addon">
                                                        <span class="glyphicon glyphicon-calendar"></span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <label>Course Price<small>*</small></label>
                                                @Html.TextBoxFor(m => m.Price, new { @class = "form-control", @placeholder = "Enter Price" })
                                                @Html.ValidationMessageFor(m => m.Price, "Please enter Course Price")
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <label>Course Attendess limit</label>
                                                @Html.TextBoxFor(m => m.AttendessLimit, new { @class = "form-control", @placeholder = "Enter Attendees Limit" })
                                                @Html.ValidationMessageFor(m => m.AttendessLimit, "Please enter Course Attendence limit")
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Message <small>*</small></label>
                                        <textarea name="form_message" class="form-control required" rows="5" placeholder="Your cover letter/message sent to the employer"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label>Name <small>*</small></label>
                                        @Html.TextBoxFor(m => m.CourseName, new { @class = "form-control", @placeholder = "Enter Name" })
                                        @Html.ValidationMessageFor(m => m.CourseName, "Please enter Course Name")
                                    </div>
                                            <div class="form-group">
                                                <label>Description <small>*</small></label>
                                                @Html.TextBoxFor(m => m.Description, new { @class = "form-control", @placeholder = "Enter Name" })
                                                @Html.ValidationMessageFor(m => m.Description, "Please enter Course Description")
                                            </div>
                                            <div class="form-group">
                                                <label>Start Time <small>*</small></label>
                                                <div class='input-group date datetimepicker1' id='datetimepicker12'>
                                                    <input name="form_name" id="sstartdate" type="text" placeholder="Enter Start Time" required="" class="form-control">
                                                    <span class="input-group-addon">
                                                        <span class="glyphicon glyphicon-calendar"></span>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label>End Time <small>*</small></label>
                                                <div class='input-group date datetimepicker1' id='datetimepicker12'>
                                                    <input name="form_name" id="senddate" type="text" placeholder="Enter End Time" required="" class="form-control">
                                                    <span class="input-group-addon">
                                                        <span class="glyphicon glyphicon-calendar"></span>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <input name="form_botcheck" class="form-control" type="hidden" value="" />
                                                <button type="submit"  class="btn btn-block btn-dark btn-theme-colored btn-sm mt-20 pt-10 pb-10" data-loading-text="Please wait...">Update</button>
                                            </div>
                                        }
                                        <div class="form-group">
                                            <input name="form_botcheck" class="form-control" type="hidden" value="" />
                                            <button type="submit" onclick="return deletecourse();" class="btn btn-block btn-dark btn-theme-colored btn-sm mt-20 pt-10 pb-10" data-loading-text="Please wait...">Delete</button>
                                        </div>
                                        <div id="myModal" class="modal">
                                            <!-- Modal content -->
                                            <div class="modal-content">
                                                <span class="close">&times;</span>
                                                <p>Your Course was deleted successfully!</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                     </div>
                   </div>
              </div>
            </div>
        </section>
@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
}
<script type="text/javascript">
    function deletecourse()
    {
        var msg = confirm("Are you sure you want to delete the course?");
        if(msg==true)
        {
            $('#myModal').modal('show');
        }
        else {
            return false;
        }
    }
</script>
<script src="/js/course.js"></script>
