@model CreownTutor.Data.Model.CourseViewModel
@{
    ViewBag.Title = "Course";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<section class="inner-header divider parallax layer-overlay overlay-dark-5" data-bg-img="/images/bg/bg3.jpg">
    <div class="container pt-70 pb-20">
        <!-- Section Content -->
        <div class="section-content">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="title text-white">Course Grid</h2>
                    <ol class="breadcrumb text-left text-black mt-10">
                        <li><a href="#">Home</a></li>
                        <li><a href="/Course">Courses</a></li>
                        <li class="active text-gray-silver">Page Title</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Section: Course gird -->
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-9 blog-pull-right">
                <div class="row">
                    @if (!string.IsNullOrEmpty(Model.SearchKeyword))
                    {
                        <p>Showing Results for "<span class="text-theme-color-2">@Model.SearchKeyword</span>". <a href="/Course"><span class="text-theme-color-2">Clear</span> Search</a></p><br />
                    }
                    @foreach (var course in Model.Courses)
                    {
                        <div class="col-sm-6 col-md-4">
                            <div class="service-block bg-white">
                                <div class="thumb">
                                    <img alt="featured project" src="/images/project/@{@course.CourseID}.jpg" class="img-fullwidth">
                                    <h4 class="text-white mt-0 mb-0"><span class="price">$125</span></h4>
                                </div>
                                <div class="content text-left flip p-25 pt-0">
                                    <h4 class="line-bottom mb-10">@course.CourseName</h4>
                                    <p>@course.CourseDescription</p>
                                    <a class="btn btn-dark btn-theme-colored btn-sm text-uppercase mt-10" href="/Course/Detail/@course.CourseID">view details</a>
                                </div>
                            </div>
                        </div>
    }
                </div>
            </div>
            <div class="col-sm-12 col-md-3">
                <div class="sidebar sidebar-left mt-sm-30">
                    <div class="widget">
                        <h5 class="widget-title line-bottom">Search <span class="text-theme-color-2">Courses</span></h5>
                        <div class="search-form">
                            @using (Html.BeginForm("Search", "Course", FormMethod.Post))
                            {
                                <div class="input-group">
                                    @Html.TextBoxFor(m => m.SearchKeyword, new { @class = "form-control search-input", @placeholder = "Click to Search" })
                                    <span class="input-group-btn">
                                        <button type="submit" class="btn search-button"><i class="fa fa-search"></i></button>
                                    </span>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="widget">
                        <h5 class="widget-title line-bottom">Course <span class="text-theme-color-2">Categories</span></h5>
                        <div class="categories">
                            <ul class="list list-border angle-double-right">
                                @foreach (var category in Model.Categories)
                                {
                                    <li>
                                        <a href="/Course/Index?cid=@category.CategoryID">
                                            @category.CategoryName
                                            @if (category.CourseCount > 0)
                                            {
                                                <span>(@category.CourseCount)</span>
                                            }
                                        </a>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                    <div class="widget">
                        <h5 class="widget-title line-bottom">Latest <span class="text-theme-color-2">Course</span></h5>
                        <div class="latest-posts">
                            @foreach (var ltCourse in Model.LatestCourses)
                            {
                                <article class="post media-post clearfix pb-0 mb-10">
                                    <a class="post-thumb" href="#"><img src="/images/services/s'@ltCourse.CourseID'.jpg" alt=""></a>
                                    <div class="post-right">
                                        <h5 class="post-title mt-0"><a href="#">@ltCourse.CourseName</a></h5>
                                        <p>@ltCourse.CourseDescription</p>
                                    </div>
                                </article>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
