@model CreownTutor.Data.Model.Teacher
    @{
        ViewBag.Title = "Index";
        Layout = "~/Views/Shared/_MainLayout.cshtml";
    }

    <h2>Teacher Details</h2>
    <section class="">
        <div class="container">
            <div class="section-content">
                <div class="row">
                    <div class="col-sx-12 col-sm-4 col-md-4">
                        <div class="widget">
                            <h4 class="widget-title line-bottom">Teacher's<span class="text-theme-color-2">Profile</span></h4>
                            </div>
                            <div class="doctor-thumb">
                                <img src="~/images/project/15.jpg" alt="">
                            </div>
                            <div class="info p-20 bg-black-333">
                                <h4 class="text-uppercase text-white">@Model.User.Name</h4>
                                <p class="text-gray-silver">@Model.User.ExperienceInfo</p>
                                <ul class="list angle-double-right m-0">
                                    <li class="mt-0 text-gray-silver"><strong class="text-gray-lighter">Email</strong><br>@Model.User.ContactEmail</li>
                                    <li class="text-gray-silver"><strong class="text-gray-lighter">Web</strong><br> www.yourdomain.com</li>
                                </ul>
                                <ul class="styled-icons icon-gray icon-circled icon-sm mt-15 mb-15">
                                    <li><a href="http://kodesolution.com/demo/personal/s/studypress/v5.0/demo/page-account.html#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="http://kodesolution.com/demo/personal/s/studypress/v5.0/demo/page-account.html#"><i class="fa fa-skype"></i></a></li>
                                    <li><a href="http://kodesolution.com/demo/personal/s/studypress/v5.0/demo/page-account.html#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="http://kodesolution.com/demo/personal/s/studypress/v5.0/demo/page-account.html#"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                                <a class="btn btn-info btn-flat mt-10 mb-sm-30" href="http://kodesolution.com/demo/personal/s/studypress/v5.0/demo/page-account.html#">Edit Profile</a>
                                <a class="btn btn-danger btn-flat mt-10 mb-sm-30" href="http://kodesolution.com/demo/personal/s/studypress/v5.0/demo/page-account.html#">Logout</a>
                            </div>
                        </div>
                    <div class="col-xs-12 col-sm-8 col-md-8">
                        <div class="widget">
                            <h4 class="widget-title line-bottom">Number Of<span class="text-theme-color-2">Courses</span></h4>
                        </div>
                        @foreach (var course in Model.Courses)
                        {
                            <div class="col-sm-6 col-md-4">
                                <div class="service-block bg-white">
                                    <div class="thumb">
                                        <img alt="featured project" src="/images/project/@{@course.CourseID}.jpg" class="img-fullwidth">
                                        <h4 class="text-white mt-0 mb-0"><span class="price">$125</span></h4>
                                    </div>
                                    <div class="content text-left flip p-25 pt-0">
                                        <h4 class="line-bottom mb-10">@course.CourseName</h4>
                                        @Html.Raw(course.CourseDescription)
                                        <a class="btn btn-dark btn-theme-colored btn-sm text-uppercase mt-10" href="/Course/Detail/@course.CourseID">view details</a>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
          </div>
        </section>

