@model CreownTutor.Data.Model.Student
@{
    ViewBag.Title = "Student Dashboard";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
@using Microsoft.AspNet.Identity.Owin;
@using Microsoft.AspNet.Identity
<section>
    <div class="container">
        <div class="row">
            <h2>Student Dashboard</h2><br />
            <div class="col-md-8 blog-pull-right">
                <div class="single-service">
                    <ul id="myTab" class="nav nav-tabs boot-tabs">
                        <li class="active"><a href="#small" data-toggle="tab">Recent Activities</a></li>
                        <li><a href="#medium" data-toggle="tab">My Subscribed Courses</a></li>
                        <li><a href="#large" data-toggle="tab">My Tests</a></li>
                        <li><a href="#large2" data-toggle="tab">My Created Tests</a></li>
                    </ul>
                    <div id="myTabContent" class="tab-content">
                        <div class="tab-pane fade in active" id="small">
                            <input class="form-control search-input" type="text" id="search" placeholder="Search for a Course or Teacher">
                            <br />
                            <hr />
                            <table class="table table-bordered" id="recentactTable">
                                <tr>
                                    <td class="text-center font-16 font-weight-600 bg-theme-color-2 text-white" colspan="4">My Recent Activities</td>
                                </tr>
                                <tbody>
                                    @foreach (var item in Model.Courses)
                                    {
                                        <tr>
                                            <td>
                                                A course <a href="@Url.Action("Detail","Course",new { id = @item.CourseID })" style="color:deeppink">@item.CourseName</a> was created on @item.CreatedDateAndTime
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <div class="tab-pane fade" id="medium">
                            <ul class="nav nav-tabs boot-tabs">
                                <li class="active"><a href="#small1" data-toggle="tab">Today's Courses</a></li>
                                <li><a href="#medium1" data-toggle="tab">Upcoming Courses</a></li>
                                <li><a href="#large1" data-toggle="tab">Past Courses</a></li>
                            </ul>
                            <div class="tab-content">
                                <div id="small1" class="tab-pane fade in active">
                                    <table class="table table-bordered">
                                        <tr>
                                            <td class="text-center font-16 font-weight-600 bg-theme-color-2 text-white" colspan="6">Today's Courses</td>
                                        </tr>
                                        <tr> <th>Course Name</th> <th>Course Created Date</th> <th>Total Course Duration</th> <th>Price</th><th>Sessions</th></tr>
                                        <tbody>
                                            @foreach (var item in Model.Courses.Where(c => c.CreatedDateAndTime.Value.Year == DateTime.Today.Date.Year && c.CreatedDateAndTime.Value.Month == DateTime.Today.Date.Month && c.CreatedDateAndTime.Value.Day == DateTime.Today.Date.Day))
                                            {
                                                if ((item.CreatedDateAndTime.Value.Year == DateTime.Today.Date.Year && item.CreatedDateAndTime.Value.Month == DateTime.Today.Date.Month && item.CreatedDateAndTime.Value.Day == DateTime.Today.Date.Day) || item.LiveSessions.Where(l => l.FromDateTime.Value.Year == DateTime.Today.Date.Year && l.FromDateTime.Value.Month == DateTime.Today.Date.Month && l.FromDateTime.Value.Day == DateTime.Today.Date.Day) != null)
                                                {
                                                    <tr>
                                                        <td><a href="@Url.Action("Detail","Course",new { id = @item.CourseID })" style="text-decoration:underline">@item.CourseName</a></td>
                                                        <td>@item.CreatedDateAndTime</td>
                                                        <td>@item.DurationOfCourse</td>
                                                        <td>@item.CoursePrice</td>
                                                        @{ string endate = item.LiveSessions.Last() != null ? item.LiveSessions.Last().ToDateTime.Value.ToString("yyyy-MM-dd HH:mm:ss") : string.Empty; }
                                                        <td class="coursecreateddate" crdate='@Convert.ToDateTime(item.CreatedDateAndTime).ToString("yyyy-MM-dd HH:mm:ss")'><input type="button" class="btnLaunch btn" courseid='@item.CourseID' value="Launch" /></td>
                                                        <td>
                                                            @foreach (var coursession in item.LiveSessions)
                                                            {
                                                                <p>@coursession.Title - @coursession.FromDateTime to @coursession.ToDateTime</p><br />
                                                            }
                                                        </td>
                                                    </tr>
                                                                }
                                                            }
                                        </tbody>
                                    </table>
                                </div>
                                <div id="medium1" class="tab-pane fade">
                                    <table class="table table-bordered">
                                        <tr>
                                            <td class="text-center font-16 font-weight-600 bg-theme-color-2 text-white" colspan="5">Present Upcoming Courses</td>
                                        </tr>
                                        <tr> <th>Course Name</th> <th>Course Created Date</th> <th>Total Course Duration</th> <th>Price</th><th>Sessions</th> </tr>
                                        <tbody>
                                            @foreach (var item in Model.Courses.Where(c => c.CreatedDateAndTime.Value.Date > DateTime.Today.Date))
                                            {
                                                <tr>
                                                    <td><a href="@Url.Action("Detail","Course",new { id = @item.CourseID })" style="text-decoration:underline">@item.CourseName</a></td>
                                                    <td>@item.CreatedDateAndTime</td>
                                                    <td>@item.DurationOfCourse</td>
                                                    <td>@item.CoursePrice</td>
                                                    <td>
                                                        @foreach (var coursession in item.LiveSessions)
                                                        {
                                                            <p>@coursession.Title - @coursession.FromDateTime to @coursession.ToDateTime</p><br />
                                                        }
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                                <div id="large1" class="tab-pane fade">
                                    <table class="table table-bordered">
                                        <tr>
                                            <td class="text-center font-16 font-weight-600 bg-theme-color-2 text-white" colspan="5">Past Courses</td>
                                        </tr>
                                        <tr> <th>Course Name</th> <th>Course Created Date</th> <th>Total Course Duration</th> <th>Price</th><th>Sessions</th> </tr>
                                        <tbody>
                                            @foreach (var item in Model.Courses.Where(c => c.CreatedDateAndTime.Value < DateTime.Today.Date))
                                            {
                                                <tr>
                                                    <td><a href="@Url.Action("Detail","Course",new { id = @item.CourseID })" style="text-decoration:underline">@item.CourseName</a></td>
                                                    <td>@item.CreatedDateAndTime</td>
                                                    <td>@item.DurationOfCourse</td>
                                                    <td>@item.CoursePrice</td>
                                                    <td>
                                                        @foreach (var coursession in item.LiveSessions)
                                                        {
                                                            <p>@coursession.Title - @coursession.FromDateTime to @coursession.ToDateTime</p><br />
                                                        }
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="large">
                            <table class="table table-bordered">
                                <tr>
                                    <td class="text-center font-16 font-weight-600 bg-theme-color-2 text-white" colspan="4">My Recent Test Papers</td>
                                </tr>
                                <tr> <th>Test Name</th> <th>Test Created Date</th> <th>No. of Enrolled Students</th> <th>Overall Review</th> </tr>
                                <tbody>
                                    <tr> <th scope="row">Applied Psychology</th> <td>45 minutes</td> <td>3 years</td> <td>$810</td> </tr>
                                    <tr> <th scope="row">Business Administration (MBA)</th> <td>45 minutes</td> <td>2 years</td> <td>$940</td> </tr>
                                    <tr> <th scope="row">Computer Science (BSc)</th> <td>1 Hours</td> <td>4 years</td> <td>$1180</td> </tr>
                                    <tr> <th scope="row">Development Studies (MDS)</th> <td>1 Hours</td> <td>5 years</td> <td>$1400</td> </tr>
                                    <tr> <th scope="row">Engineering Technology (BSc)</th> <td>30 minutes</td> <td>3 years</td> <td>$600</td> </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="tab-pane fade" id="large2">
                            <ul class="nav nav-tabs boot-tabs">
                                <li class="active"><a href="#small2" data-toggle="tab">Today's Courses</a></li>
                                <li><a href="#medium2" data-toggle="tab">Upcoming Courses</a></li>
                                <li><a href="#large3" data-toggle="tab">Past Courses</a></li>
                            </ul>
                            <div class="tab-content">
                                <div id="small2" class="tab-pane fade in active">
                                    <table class="table table-bordered">
                                        <tr>
                                            <td class="text-center font-16 font-weight-600 bg-theme-color-2 text-white" colspan="6">Today's Courses</td>
                                        </tr>
                                        <tr> <th>Course Name</th> <th>Course Created Date</th> <th>Total Course Duration</th> <th>Price</th><th>Sessions</th></tr>
                                        <tbody>
                                            @foreach (var item in Model.CreatedCourses.Where(c => c.CreatedDateAndTime.Value.Year == DateTime.Today.Date.Year && c.CreatedDateAndTime.Value.Month == DateTime.Today.Date.Month && c.CreatedDateAndTime.Value.Day == DateTime.Today.Date.Day))
                                            {
                                                if ((item.CreatedDateAndTime.Value.Year == DateTime.Today.Date.Year && item.CreatedDateAndTime.Value.Month == DateTime.Today.Date.Month && item.CreatedDateAndTime.Value.Day == DateTime.Today.Date.Day) || item.LiveSessions.Where(l => l.FromDateTime.Value.Year == DateTime.Today.Date.Year && l.FromDateTime.Value.Month == DateTime.Today.Date.Month && l.FromDateTime.Value.Day == DateTime.Today.Date.Day) != null)
                                                {
                                                    <tr>
                                                        <td><a href="@Url.Action("Detail","Course",new { id = @item.CourseID })" style="text-decoration:underline">@item.CourseName</a></td>
                                                        <td>@item.CreatedDateAndTime</td>
                                                        <td>@item.DurationOfCourse</td>
                                                        <td>@item.CoursePrice</td>
                                                        @{ string endate = item.LiveSessions.Count > 0 && item.LiveSessions.Last() != null ? item.LiveSessions.Last().ToDateTime.Value.ToString("yyyy-MM-dd HH:mm:ss") : string.Empty; }
                                                        <td class="coursecreateddate" crdate='@Convert.ToDateTime(item.CreatedDateAndTime).ToString("yyyy-MM-dd HH:mm:ss")'><input type="button" class="btnLaunch btn" courseid='@item.CourseID' value="Launch" /></td>
                                                        <td>
                                                            @foreach (var coursession in item.LiveSessions)
                                                            {
                                                                <p>@coursession.Title - @coursession.FromDateTime to @coursession.ToDateTime</p><br />
                                                            }
                                                        </td>
                                                    </tr>
                                                                }
                                                            }
                                        </tbody>
                                    </table>
                                </div>
                                <div id="medium2" class="tab-pane fade">
                                    <table class="table table-bordered">
                                        <tr>
                                            <td class="text-center font-16 font-weight-600 bg-theme-color-2 text-white" colspan="5">Present Upcoming Courses</td>
                                        </tr>
                                        <tr> <th>Course Name</th> <th>Course Created Date</th> <th>Total Course Duration</th> <th>Price</th><th>Sessions</th> </tr>
                                        <tbody>
                                            @foreach (var item in Model.CreatedCourses.Where(c => c.CreatedDateAndTime.Value.Date > DateTime.Today.Date))
                                            {
                                                <tr>
                                                    <td><a href="@Url.Action("Detail","Course",new { id = @item.CourseID })" style="text-decoration:underline">@item.CourseName</a></td>
                                                    <td>@item.CreatedDateAndTime</td>
                                                    <td>@item.DurationOfCourse</td>
                                                    <td>@item.CoursePrice</td>
                                                    <td>
                                                        @foreach (var coursession in item.LiveSessions)
                                                        {
                                                            <p>@coursession.Title - @coursession.FromDateTime to @coursession.ToDateTime</p><br />
                                                        }
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                                <div id="large3" class="tab-pane fade">
                                    <table class="table table-bordered">
                                        <tr>
                                            <td class="text-center font-16 font-weight-600 bg-theme-color-2 text-white" colspan="5">Past Courses</td>
                                        </tr>
                                        <tr> <th>Course Name</th> <th>Course Created Date</th> <th>Total Course Duration</th> <th>Price</th> <th>Sessions</th> </tr>
                                        <tbody>
                                            @foreach (var item in Model.CreatedCourses.Where(c => c.CreatedDateAndTime.Value < DateTime.Today.Date))
                                            {
                                                <tr>
                                                    <td><a href="@Url.Action("Detail","Course",new { id = @item.CourseID })" style="text-decoration:underline">@item.CourseName</a></td>
                                                    <td>@item.CreatedDateAndTime</td>
                                                    <td>@item.DurationOfCourse</td>
                                                    <td>@item.CoursePrice</td>
                                                    <td>
                                                        @foreach (var coursession in item.LiveSessions)
                                                        {
                                                            <p>@coursession.Title - @coursession.FromDateTime to @coursession.ToDateTime</p><br />
                                                        }
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <div class="sidebar sidebar-left mt-sm-30 ml-40">
                    <div class="widget">
                        <h4 class="widget-title line-bottom">Welcome Student,<span class="text-theme-color-2">@User.Identity.Name</span></h4>
                    </div>
                    <div class="doctor-thumb">
                        @{
                            var img = HttpContext.Current.GetOwinContext().GetUserManager<ApplicationUserManager>().FindByIdAsync(User.Identity.GetUserId()).Result.Imagelength;
                            string imgpath = !string.IsNullOrEmpty(img) ? img : "/images/blog/author.jpg";
                        }
                        <img src="@Url.Content(imgpath)" alt="" style="height:150px; width:170px;">
                    </div>
                    <br /><br />
                    <a class="btn bg-theme-color-2 btn-xl text-white" href=@Url.Action("EditProfile", "Account")><i>&nbsp;&nbsp;&nbsp;</i>Edit Profile</a>
                    <br />
                    <br />
                    <div class="widget">
                        <h4 class="widget-title line-bottom">Student's<span class="text-theme-color-2"> Activities</span></h4>
                        <div class="services-list">
                            <ul class="list list-border angle-double-right">
                                <li class="active"><a href=@Url.Action("CreateCourse","Course")>Enrolled Courses</a></li>
                                <li><a href="page-courses-chemical-engineering.html">Tests Taken</a></li>
                                <li><a href=@Url.Action("CreateTest","Test")>My Classes</a></li>
                                <li><a href="page-courses-development-studies.html">Certificates</a></li>
                                <li><a href="page-courses-electrical-electronic.html">My Orders</a></li>
                                <li><a href="page-courses-modern-languages.html">My favourites</a></li>
                                <li><a href="page-courses-modern-languages.html">Shared with me</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
    var currentuserid = '@User.Identity.GetUserId()';
</script>
<script type="text/javascript" src="/js/launch.js"></script>
