@model CreownTutor.Data.Model.Student
@{
    ViewBag.Title = "Student Dashboard";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>Student Dashboard</h2>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-8 blog-pull-right">
                <div class="single-service">
                    <ul id="myTab" class="nav nav-tabs boot-tabs">
                        <li class="active"><a href="#small" data-toggle="tab">Recent Activities</a></li>
                        <li><a href="#medium" data-toggle="tab">My Courses</a></li>
                        <li><a href="#large" data-toggle="tab">My Tests</a></li>
                    </ul>
                    <div id="myTabContent" class="tab-content">
                        <div class="tab-pane fade in active" id="small">
                            <input class="form-control search-input" type="text" id="search" placeholder="Search for a Course or Teacher">
                            <script type="text/javascript">
                                $("#search").on("keyup", function () {
                                    var value = $(this).val();
                                    alert(value);
                                    $("#recentactTable #secondtr").each(function (index) {
                                       alert(index)
                                        if (index !== 0) {
                                            $row = $(this);
                                            alert($row)
                                            var id = $row.find("td a").text();
                                            alert(id)
                                            alert(id.indexOf(value))
                                            if (id.indexOf(value) !== 0) {
                                                $row.hide();
                                            }
                                            else {
                                                $row.show();
                                            }
                                        }
                                    });
                                });
                            </script>
                            <br />
                            <hr />
                            <table class="table table-bordered" id="recentactTable">
                                <tr>
                                    <td class="text-center font-16 font-weight-600 bg-theme-color-2 text-white" colspan="4">My Recent Activities</td>
                                </tr>
                                <tbody>
                                    @foreach (var item in Model.Courses)
                                    {
                                        <tr>
                                            <td>
                                                A course <a href="@Url.Action("Detail","Course",new { id = @item.CourseID })" style="color:deeppink">@item.CourseName</a> was created on @item.CreatedDateAndTime
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <div class="tab-pane fade" id="medium">
                            <table class="table table-bordered">
                                <tr>
                                    <td class="text-center font-16 font-weight-600 bg-theme-color-2 text-white" colspan="4">My Recent Courses</td>
                                </tr>
                                <tr> <th>Course Name</th> <th>Course Created Date</th> <th>Course Status</th> <th>Price</th> </tr>
                                <tbody>
                                    @foreach (var item in Model.Courses)
                                    {
                                        <tr>
                                            <td><a href="@Url.Action("Detail","Course",new { id = @item.CourseID })" style="text-decoration:underline">@item.CourseName</a></td>
                                            <td>@item.CreatedDateAndTime</td>
                                            <td>@item.DurationOfCourse</td>
                                            <td>@item.CoursePrice</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <div class="tab-pane fade" id="large">
                            <table class="table table-bordered">
                                <tr>
                                    <td class="text-center font-16 font-weight-600 bg-theme-color-2 text-white" colspan="4">My Recent Test Papers</td>
                                </tr>
                                <tr> <th>Test Name</th> <th>Test Created Date</th> <th>No. of Enrolled Students</th> <th>Overall Review</th> </tr>
                                <tbody>
                                    <tr> <th scope="row">Applied Psychology</th> <td>45 minutes</td> <td>3 years</td> <td>$810</td> </tr>
                                    <tr> <th scope="row">Business Administration (MBA)</th> <td>45 minutes</td> <td>2 years</td> <td>$940</td> </tr>
                                    <tr> <th scope="row">Computer Science (BSc)</th> <td>1 Hours</td> <td>4 years</td> <td>$1180</td> </tr>
                                    <tr> <th scope="row">Development Studies (MDS)</th> <td>1 Hours</td> <td>5 years</td> <td>$1400</td> </tr>
                                    <tr> <th scope="row">Engineering Technology (BSc)</th> <td>30 minutes</td> <td>3 years</td> <td>$600</td> </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <div class="sidebar sidebar-left mt-sm-30 ml-40">
                    <div class="widget">
                        <h4 class="widget-title line-bottom">Welcome User,<span class="text-theme-color-2">@User.Identity.Name</span></h4>
                    </div>
                    <div class="doctor-thumb">
                        <img src="~/images/project/myers_2010_360_423_90.jpg" alt="" style="max-width:65%">
                    </div>
                    <button class="btn bg-theme-color-2 btn-xl text-white" type="submit" onclick="window.location.href='@Url.Action("EditProfile","Account",new { id = 4 })'"><i>&nbsp;&nbsp;&nbsp;</i>Edit Profile</button>
                    <div class="widget">
                        <h4 class="widget-title line-bottom">Student's<span class="text-theme-color-2">Activities</span></h4>
                        <div class="services-list">
                            <ul class="list list-border angle-double-right">
                                <li class="active"><a href=@Url.Action("CreateCourse","Course")>Enrolled Courses</a></li>
                                <li><a href="page-courses-chemical-engineering.html">Tests Taken</a></li>
                                <li><a href=@Url.Action("CreateTest","Test")>My Classes</a></li>
                                <li><a href="page-courses-development-studies.html">Certificates</a></li>
                                <li><a href="page-courses-electrical-electronic.html">My Orders</a></li>
                                <li><a href="page-courses-modern-languages.html">My favourites</a></li>
                                <li><a href="page-courses-modern-languages.html">Shared with me</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

