@model CreownTutor.Data.Model.Teacher
@{
    ViewBag.Title = "EditCourseList";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<section class="">
    <div class="container">
        <div class="section-content">
            <div class="row">
                <h2>Course List</h2><br /><br />
                <div class="icon-box mb-0 p-0">
                    <a href="#" class="icon icon-bordered icon-rounded icon-sm pull-left mb-0 mr-10">
                        <i class="fa fa-list"></i>
                    </a>
                    <h4 class="text-gray pt-10 mt-0 mb-30">Course List</h4>
                    <hr />
                    <table class="table table-bordered">
                        <tr>
                            <td class="text-center font-16 font-weight-600 bg-theme-color-2 text-white" colspan="4">My Courses</td>
                        </tr>
                        <tr>
                            <th style="display:none">Course ID</th>
                            <th>Course Name</th>
                            <th>Attendence</th>
                            <th>Course Price</th>
                            <th>Manage Course</th>
                        </tr>
                        <tbody>
                            @foreach (var item in Model.Courses)
                            {
                                <tr>
                                    <td style="display:none"><input type="hidden" id="forid">@item.CourseID</td>
                                    <td><a href="@Url.Action("Detail","Course",new { id = @item.CourseID })" style="text-decoration:underline">@item.CourseName</a></td>
                                    <td>@item.AttendessLimit</td>
                                    <td>@item.CoursePrice</td>
                                    <td><a id="btnid" href='/Course/EditCourse/@item.CourseID' class="btn bg-theme-color-2 btn-sm text-white font-15">Edit Course</a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
