@model CreownTutor.Data.Model.Teacher
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>Teacher Details</h2>
<section class="">
    <div class="container">
        <div class="section-content">
            <div class="row">
                <div class="col-sx-12 col-sm-4 col-md-4">
                    <div class="widget">
                        <h4 class="widget-title line-bottom">Teacher's<span class="text-theme-color-2">Profile:</span></h4>
                    </div>
                    <div class="doctor-thumb">
                        <img src="~/images/project/profile1.jpg" alt="">
                    </div>
                    <div class="info p-20 bg-black-333">
                        <h4 class="text-uppercase text-white">@User.Identity.Name</h4>
                    </div>
                    <div class="bg-light media border-bottom p-15 mb-20">
                        <div class="media-left">
                            <i class="pe-7s-pen text-theme-colored font-24 mt-5"></i>
                        </div>
                        <div class="media-body">
                            <h5 class="mt-0 mb-0">Experiences:</h5>
                            <p>@Model.User.ExperienceInfo</p>
                        </div>
                    </div>
                    <div class="bg-light media border-bottom p-15">
                        <div class="media-left">
                            <i class="fa fa-phone text-theme-colored font-24 mt-5"></i>
                        </div>
                        <div class="media-body">
                            <h5 class="mt-0 mb-0">Contact:</h5>
                            <p><span>Phone:</span> @Model.User.ContactNumber<br><span>Email:</span>@Model.User.ContactEmail</p>
                            <ul class="styled-icons icon-gray icon-circled icon-sm mt-15 mb-15">
                                <li><a href="http://kodesolution.com/demo/personal/s/studypress/v5.0/demo/page-account.html#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="http://kodesolution.com/demo/personal/s/studypress/v5.0/demo/page-account.html#"><i class="fa fa-skype"></i></a></li>
                                <li><a href="http://kodesolution.com/demo/personal/s/studypress/v5.0/demo/page-account.html#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="http://kodesolution.com/demo/personal/s/studypress/v5.0/demo/page-account.html#"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-8 col-md-8">
                    <div class="widget">
                        <h4 class="widget-title line-bottom">About<span class="text-theme-color-2">Me:</span></h4>
                        <p>
                            @Model.User.BioGraphInfo
                        </p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-8 col-md-8">
                    <div class="widget">
                        <h4 class="widget-title line-bottom">My<span class="text-theme-color-2">Reviews:</span></h4>
                            <div class="reviews">
                                @foreach (var review in Model.Reviews)
                                {
                                    <ol class="commentlist">
                                        <li class="comment">
                                            <div class="media">
                                                <a href="http://kodesolution.com/demo/personal/s/studypress/v5.0/demo/shop-product-details.html#" class="media-left"><img class="img-circle" alt="" src="~/images/project/12.jpg" width="75"></a>
                                                <div class="media-body">
                                                    <ul class="review_text list-inline">
                                                        <li>
                                                            @{ string rating = ((review.ReviewRating * 100 / 5)).ToString();}
                                                            <div title="Rated 5.00 out of 5" class="star-rating" id="starrating"><span id="stars" style="width:@rating%">@review.ReviewRating</span></div>
                                                        </li>
                                                        <li>
                                                            <h5 class="media-heading meta"><strong>@review.UserDetail.Name -</strong>@review.AddedTime:</h5>
                                                        </li>
                                                    </ul>
                                                    @review.ReviewComments
                                                </div>
                                            </div>
                                        </li>
                                    </ol>
                                                                }
                            </div>
                        </div>                      
                </div>
                <div class="col-xs-12 col-sm-8 col-md-8">
                    <div class="widget">
                        <h4 class="widget-title line-bottom">Number Of<span class="text-theme-color-2">Courses:</span></h4>
                    </div>
                    <div class="col-md-12 blog-pull-left">
                        <div class="row mb-15">
                            @foreach (var course in Model.Courses)
                            {
                            <div class="col-sm-6 col-md-4">
                                <div class="thumb"> <img alt="featured project" src="/images/project/@{@course.CourseID}.jpg" class="img-fullwidth"></div>
                            </div>
                            <div class="col-sm-6 col-md-8" style="white-space: nowrap;text-overflow:ellipsis;float:left;display:block;overflow:hidden;">
                                <h4 class="line-bottom mt-0 mt-sm-20">@course.CourseName</h4>
                                <ul class="review_text list-inline">
                                    <li><h4 class="mt-0"><span class="text-theme-color-2">Price :</span> $125</h4></li>
                                </ul>
                                <p style="display:block;max-width:250px;overflow: hidden;text-overflow: ellipsis;white-space:nowrap;">@Html.Raw(course.CourseDescription)</p>
                                <a class="btn btn-dark btn-theme-colored btn-sm text-uppercase mt-10" href="http://kodesolution.com/demo/personal/s/studypress/v5.0/demo/page-courses-accounting-technologies.html">view details</a>
                                <hr />
                            </div>
                          }
                        </div>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

